@-ms-viewport {
    width: device-width;
}

*,
*::after,
*::before {
    @include box-sizing($all-elements-box-sizing);
}

* {
    &:focus {
        outline: 0;
    }
}

html {
    @if $html-height != $body-height {
        height: $html-height;
    }
    @include font-shorthand((
        style: $html-font-style,
        variant: $html-font-variant,
        weight: $html-font-weight,
        size: $html-font-size,
        line-height: $html-line-height,
        family: $html-font-family,
        make-shorthand: true
    ));
    @include not-required-property(-ms-overflow-style, $html-ms-overflow-style);
    @include not-required-property(-webkit-tap-highlight-color, $html-webkit-tap-highlight-color);
    @include box-sizing($html-box-sizing);
    @include text-size-adjust($html-text-size-adjust);
    @if mixin-exists(html-extra-style) {
        @include html-extra-style();
    }
}

html,
body {
    @if $html-height == $body-height {
        height: $html-height;
    }
    margin: 0;
    border: 0;
    padding: 0;
    @if mixin-exists(html-body-extra-style) {
        @include html-body-extra-style();
    }
}

body {
    @if $html-height != $body-height {
        height: $body-height;
    }
    @include background-shorthand((
        image: $document-background-image,
        position: $document-background-position,
        repeat: $document-background-repeat,
        color: $document-background-color,
        attachment: $document-background-attachment,
        make-shorthand: true
    ));
    @include document-font();
    color: $document-color;
    @if mixin-exists(body-extra-style) {
        @include body-extra-style();
    }
}