$all-elements-box-sizing: border-box !default;

$html-height: 100% !default;
$html-box-sizing: border-box !default;
$body-height: 100% !default;

//@mixin html-extra-style() {} //Create this mixin before import module when you want add some special style for element
//@mixin html-body-extra-style() {} //Create this mixin before import module when you want add some special style for element
//@mixin body-extra-style() {} //Create this mixin before import module when you want add some special style for element