$all-elements-box-sizing: border-box !default;

$html-height: 100% !default;
$html-box-sizing: border-box !default;
$body-height: 100% !default;

@mixin html-extra-style() {}
@mixin html-body-extra-style() {}
@mixin body-extra-style() {}