* {
    @include box-sizing(border-box);
    @include backface-visibility(hidden);
}

*:after,
*:before {
    @include box-sizing(border-box);
}

html {
    font-family: sans-serif;
    @include text-size-adjust(100%);
}

body,
html {
    height: 100%;
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    background-color: $document-background-color;
    font-family: $document-font-family;
    font-size: $document-font-size;
    font-weight: $document-font-weight;
    line-height: $document-line-height;
    color: $document-color;
    @if variable-exists(document-font-size-for-screens) {
        @each $screen-prefix, $sizes in get-screens-map() {
            @if map-has-key($document-font-size-for-screens, $screen-prefix) {
                @media(min-width: get-screen-size($screen-prefix, min)) {
                    font-size: map-get($document-font-size-for-screens, $screen-prefix);
                }
            }
        }
    }
}
